.container {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 984px;
  max-width: 1170px;

  @include tablet {
    padding: 0 20px;

    min-width: 728px;
  }

  @include mobile {
    padding: 0 15px;

    min-width: 290px;
  }
}
