.page-footer__wrapper {
  padding-bottom: 90px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mobile {
    justify-content: center;
  }
}

.page-footer__next-routes {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: -50%;

    width: 2px;
    height: 190px;
    background-color: #d7d9df;

    content: "";
  }

  @include mobile {
    margin-bottom: 20px;

    &::after {
      position: absolute;
      top: 350px;
      right: 0;

      width: 288px;
      height: 2px;
      background-color: #d7d9df;

      content: "";
    }
  }
}

.page-footer__inner {
  padding: 20px 0;

  display: flex;
  justify-content: space-between;

  @include mobile {
    margin-bottom: 10px;
    padding: 0 10px;
    justify-content: center;
    flex-wrap: wrap;

    &:nth-child(3) {
      flex-grow: 1;
    }
  }
}

.page-footer__next-routes-list {
  @include list-reset;

  margin-right: 18%;

  li {
    margin-bottom: 10px;

    width: 90px;

    font-size: 14px;
    line-height: 17px;
    color: rgba($dark, 0.5);

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include tablet {
    margin-right: 13%;
  }

  @include mobile {
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 20px;

    text-align: center;
  }
}

.page-footer__contacts {
  margin-left: 8%;

  width: 250px;

  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: -30%;

    width: 2px;
    height: 190px;
    background-color: #d7d9df;

    content: "";
  }

  @include tablet {
    margin-left: 50px;

    width: 280px;

    &::after {
      position: absolute;
      top: 210px;
      right: 0;

      width: 726px;
      height: 2px;

      content: "";
    }
  }

  @include mobile {
    margin-left: 0;
    margin-bottom: 30px;

    width: 280px;

    &::after {
      position: absolute;
      top: 140px;
      right: 0;

      width: 288px;
      height: 2px;

      content: "";
    }
  }
}

.page-footer__contacts-list {
  @include list-reset;

  li {
    margin-top: 20px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
}

.page-footer__link {
  display: flex;

  font-size: 14px;
  text-decoration-line: underline;
  color: $pink;

  &--tel {
    font-size: 16px;
  }

  &:hover,
  &:focus {
    color: $orange;
  }

  &:active {
    color: rgba($orange, 0.7);
  }
}

.page-footer__corporate-trip {
  margin-left: 4%;

  @include tablet {
    margin-left: 0;
    margin-top: 40px;
    flex-grow: 1;

    text-align: center;
  }

  @include mobile {
    margin: 0;

    width: 288px;

    text-align: center;
  }
}

.page-footer__title {
  @include reset;

  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $dark;

  @include mobile {
    margin-bottom: 20px;

    text-align: center;
  }
}

.page-footer__text {
  margin-right: 3%;

  width: 320px;

  font-size: 14px;
  line-height: 24px;
  color: rgba($dark, 0.5);

  @include tablet {
    margin-top: 20px;
    width: 100%;
  }

  @include mobile {
    margin: 0;
    width: 100%;
  }
}

.page-footer__link-word {
  display: none;

  @include tablet {
    display: block;
  }

  @include mobile {
    display: block;
  }
}

.page-footer__link-mail {
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.page-footer__icon {
  fill: $white;
}
