* {
  outline: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: $font-main;
  font-size: $text-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: -0.47px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
