@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin reset {
  padding: 0;
  margin: 0;
}

@mixin tablet {
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile-min) and (max-width: $mobile-max) {
    @content;
  }
}
